#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.popImgAhadees, .popImgSites, .popImgNasrullahs {height: 153px; width: 160px;}

#myImg:hover, .popImgAhadees:hover, .popImgSites:hover, .popImgNasrullahs:hover {opacity: 0.5;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#myModal:child(){

}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height: 85%; 
    width: 85%;
    max-width: 800px;
    margin-top: -70px; 
}

img.modal-content{
    
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 4%; /*top: 15px;*/
    right: 2%; /*right: 35px;*/
    color: red;
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}